<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<a href="#page-top" title="{{site.title}}" class="navbar-brand page-scroll"><img src="https://d5w68ic4qi8w5.cloudfront.net/assets/logo.png" height="40" width="174"></a>

    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#projects">Projects</a>
        </li>
        <li>
          <a class="page-scroll" href="https://www.elvanto.com">Elvanto Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
