<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Projects</h2>
        <h3 class="section-subheading text-muted">Our Projects</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-2 portfolio-item">
        <a href="https://github.com/elvanto/login-wordpress" class="portfolio-link" target="_blank">
				<div class="portfolio-hover">
					<div class="portfolio-hover-content">
						<i class="fa fa-plus fa-3x"></i>
					</div>
				</div>
				<!--<img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">-->
				</a>
				<div class="portfolio-caption">
					<h4>Wordpress Login Plugin</h4>
				<p class="text-muted">Easily give your users access to Elvanto via your Wordpress site</p>
				</div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="https://github.com/elvanto/login-form" class="portfolio-link" target="_blank">
				<div class="portfolio-hover">
					<div class="portfolio-hover-content">
						<i class="fa fa-plus fa-3x"></i>
					</div>
				</div>
				<!--<img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">-->
				</a>
				<div class="portfolio-caption">
					<h4>Login Form</h4>
				<p class="text-muted">A customizable login form design to be integrated wherever you'd like</p>
				</div>
      </div>
    </div>
  </div>
</section>